/*下拉选框样式 start*/
.down {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
}

.down > a {
    font-size: 16px;
    color: #8d8688;
    width: 100%;
    padding-left: 15px;
    height: 46px;
    line-height:46px;
    display: block;
    position: relative;
}

.down .down-m{
    position: absolute;
    z-index: 2;
    display: none;
    border-radius: 6px;
    right: 8px;
    top: 52px;
    background: #f6f6f6;
    box-shadow: -2px 2px 3px rgba(143, 143, 143, .2);
}

.down .down-m .arrow-u{
    width: 15px;
    height: 7px;
    background: url("../img/arrow-up.png") no-repeat;
    position: absolute;
    right: 10px;
    top: -7px;
}

.down .down-m p {
    height: 42px;
    margin-bottom: 0;
    width: 110px;
    text-align: center;
    line-height: 42px;
}

.down .down-m p > a {
    width: 100%;
    height: 100%;
    display: block;
    color: #666;
    font-size: 16px;
    color: #2b333b;
}

.down .down-m p > a:hover {
    color: #333;
    background: #e4e3e3;
}


/*下拉选框样式 end*/