/*上传按钮*/
.pic{
    position: relative;
}
.file {
    position: absolute;
    top:8px;
    right:30px;
    display: inline-block;
    background: #f0ad4e;
    border: 1px solid #f0ad4e;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

/*goods页面*/
.search{
    position: relative;
}

.search-btn {
    width: 20px;
    height: 20px;
    background: url(../img/search.png) no-repeat;
    position: absolute;
    top: 22px;
    right: 26%;
}

.down .down-m p.list_p {
    height: 42px;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    line-height: 42px;
}
.down .down-m p.list_p a{
    padding-left: 15px;
}

.classified>.classify_l{
    float: left;
}
.classified>.classify_r{
    /*overflow: hidden;*/
}
.classified>.classify_r>div{
    width: 20% !important;
    margin-left: 15px;
}
.classified>.classify_r>div:nth-child(-n+3){
     margin-bottom: 15px;
 }

.add{
    width: 24px;
    height: 24px;
    display: inline-block;
    background: #999899;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    margin-left:10px;
}

.price{
    margin: 0 42px 0 13px !important;
}

.guige {
    display: inline-block;
    width: 21%;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    overflow: hidden;
    margin-left: 15px;
    padding-left: 15px;
    vertical-align: middle;
}
.btn.sty{
    padding: 1px 2px !important;
}

.main .role .type .type_down_right.m_l{
    margin-left: 15px;
}
.main .role .type .type_down_right.m_l100{
    margin-left: 148px;
}

.xiangce{
    height: 120px;
    border: 1px solid #ccc;
    padding:10px 0;
}
.xiangce>div{
    margin-left: 10px;
    width: 100px;
    height: 100%;
    background-color: #ccc;
}





